.container{
    position: absolute;
    width: 100%;
    max-width: 300px;
    height: 80vh;
    background-color: white;
    bottom: 0%;
    right: 0%;
    z-index: 13;
    margin: 24px;
    border-radius: 10px;
}

.inbox{
    position: absolute;
    bottom: 0%;
    
}
.btn-close{
    margin-left: 50px;
    margin-top: 3px;
}
.btn-close:hover,  
.btn-close:focus{
    border-radius: 2px;
    border-color: black;
}

.inbox textarea{
    padding-left:100px;
    position: absolute;
    bottom: 0%;
    width: 90%;
    display: inline;
    font-family: 'Times New Roman', Times, serif;
}
.inbox button{

    display: inline;
    position: relative;
    margin-left: 365px;
    padding-top: -50px;
}

.bot{
    height: 15%
}
.bot p{
    color: white;
    padding-top: 7px;
    padding-left: 80px;
    height: 50px;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    margin-left: -12px;
    background-color: #33a3d3;
    width: 300px;
}