body{
    margin: 0;
    padding: 0;
    font-family: montserrat;
    height: 100vh;
    overflow-y: auto;
    background-color:#33a3d3;
    
}
*{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.google, .otp{
    height: 30px;
    width: 220px;
    border-radius: 5px;
    background-color: white;
}
/* .otp{
    height: 100px;
    border-radius: 20px;
} */
.grey{
    background: #D9D9D9;
    height: 370px;
    z-index: 13;
    padding: 24px 32px;
}
.purple{
    background: #166797;
    padding: 24px 32px;
    height: 370px;
    
}
.google{
    display: block;
    margin-bottom: 10px;
}

.center{
    position: absolute;
    width: 100%;
    height: 100%;
    background: transparent;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}


.center h1{
    text-align: center;
    padding: 0 0 20px 0;
    border-bottom: 1px solid silver;
}

.center form{
    padding: 0 40px;
    box-sizing: border-box;
}

form .txt_field{
    position: relative;
    border-bottom: 2px solid #adadad;
    margin: 50px 20px;
} 

.txt_field input{
    width: 100%;
    padding: 0 5px;
    height: 40px;
    font-size: 16px;
    border: none;
    background:#a5c8dc;
    outline: none;
}

.txt_field label{
    position: absolute;
    top: 50%;
    left: 0px;
    color: #575353;
    transform: translateY(-50%);
    font-size: 16px;
    pointer-events: none;
}

.txt_field span::before{
    content: '';
    position: absolute;
    top: 40px;
    left: 0;
    width: 100%;
    height: 2px;
    background: #2691d9;
}


.txt_field input:focus ~label,
.txt_field input:valid ~label{
    /* top: -5px; */
    color: black;
    visibility: hidden;
    /* padding-left: 100px; */
}
.txt_field input:focus{
    padding: 0px 16px;
    width: 100%;
}
.txt_field input{
    margin-top: 50px;
}
.txt_field input ~ label{
    margin-top: 25px;
    margin-left: 15px;
}

.grey p{
    font-size: 50px;
    padding-left: 40px;
}
.google, .otp{
    margin-top: 50px;
    height: 35px;
}

.bg{
    position: absolute;
    top: 13.2%;
    left: 0%;
    height: 100vh;
    width: 55%;
}
.submit{
    position: absolute;
    margin-left: 22px;
    margin-top: -25px;
    height: 35px;
    width: 180px;
    background-color: red;
    font-weight:500;
    border-radius: 5px;
}

.google_img{
    position: relative;
    top: 2.5px;
    margin-left: 10px;
    height: 15px;
    width: 15px;
    
}

.nav{
    position: absolute;
    top: 0%;
    width: 100%;
    height: 75px;
    line-height: 75px;
    padding: 0px 100px;
    position: fixed;
    background: #08517b;
    /* rgb(5,101,230) */

}
.homebg{
    position: fixed;
    top: 0%;
    left: 0%;
    height: 100%;
    width: 100%;
    background-size: cover;
}

nav .chatbot p{
    font-size: 30px;
    font-weight: bold;
    float: left;
    color: #cfd5e2;
    text-transform: uppercase;
    letter-spacing: 1.5px;
    cursor: pointer;
}

nav ul{
    float: right;
}

nav li{
    display: inline-block;
    list-style: none;
}
nav li a{
    font-size: 18px;
    text-transform: uppercase;
    padding: 0px 30px;
    color: #cfd5e2;
    text-decoration: none;
}
nav li a:hover{
    color:  #08517b;
    transition: all 0.4s ease 0s;
}

